# Файлы переменных окружения (нельзя публиковать!)
.env
*.env

# Директория виртуального окружения Python
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Файл базы данных SQLite (если есть)
*.db
*.sqlite3

# Конфигурация IDE (PyCharm)
.idea/