# Файлы переменных окружения ( нельзя публиковать!)
.env
*.env

# Директория виртуального окружения Python
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.py[cod]

# Файл базы данных SQLite (если есть)
*.sqlite3
*.db

# Конфигурация IDE (PyCharm)
.idea/

data/